body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.app {
	padding: 2rem;
	text-align: center;
	margin-top: 5px;
}
.todoElement {
	display: flex;
	justify-content: space-between; /* Распределяем элементы равномерно по ширине контейнера */
	align-items: center; /* Выравниваем элементы по вертикали */
}
.todoText {
	flex: 1;
	text-align: left;
	max-width: 400px;
}
.todoControl {
	display: flex;
	gap: 10px;
}

.addButton {
	margin-left: 20px;
}
.inputNewTodo {
	height: 30px;
	width: 200px;
	outline: none;
	border: 1px solid black;
}
.inputNewTodo:focus {
	border-color: black;
	background-color: rgb(44, 48, 66);
}
.loader {
	width: 48px;
	height: 48px;
	border: 3px solid #fff;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 56px;
	height: 56px;
	border-radius: 50%;
	border: 3px solid transparent;
	border-bottom-color: #2d6c93;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
